@{
    ViewData["Title"] = "EJ Nails";
}
@model HomeViewModel;

<partial name="_logo" />

@*PROFIL*@
<section class="profil appear">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-6 align-items-center text-center">
                <img class="photo img-fluid" src="assets/img/Juliee.jpg" />
            </div>
            <div class="col-lg-6 my-auto showcase-text align-items-center padding-right">
                    <h2 class="title-accueil">Julie</h2>
                    <p class="lead mb-0">
                        Je prends soin de vos mains du lundi au vendredi à Montastruc-La-Conseillère.
                        Formée depuis juillet 2021, je réalise régulièrement des formations pour me mettre à jour sur les tendances actuelles.
                        N'hésitez pas à me contacter pour prendre rendez-vous avec moi via le formulaire de contact ou par message privé sur Instagram.
                    </p>
            </div>
        </div>
    </div>
</section>

@*MES REALISATIONS*@
<section id="realisations" class="appear realisations">
    <partial name="Realisations" />
</section>


@*MES PRESTATIONS*@
<section id="prestations" class="appear prestations">
    <partial name="Prestations" />
</section>

@*FORMULAIRE DE CONTACT*@
<section id="contact" class="appear">
    <partial name="contact" />
</section>


<script async src="//www.instagram.com/embed.js"></script>
