@{
    ViewData["Title"] = "EJ Nails";
}
@model HomeViewModel;

<partial name="_logo" />

<section class="profil">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-6 ">
                <img class="photo" src="assets/img/Juliee.jpg" />
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2 class="title-accueil">   Julie P</h2>
                <p class="lead mb-0">Prothésiste ongulaire at the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>

            </div>
        </div>

    </div>
</section>

<!-- Image Showcases-->
<section id="accueil" class="showcase">
    @*<div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white taille showcase-img" style="background-image: url('assets/img/@Model.ProfilPicture')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <div class="diamond-text">
                    <img class="diamond" src="assets/img/diamond.png" />
                    <h2 class="title-accueil">   Julie P</h2>
                </div>
                <p class="lead mb-0">Prothésiste ongulaire at the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
        </div>*@
        <div class="appear salon row g-0">
            <div class="col-lg-6 order-lg-2 text-white taille showcase-img" style="background-image: url('assets/img/salon.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <div class="diamond-text">
                    <img class="diamond" src="assets/img/diamond.png" />
                    <h2 class="title-accueil">   Le salon</h2>
                </div>
                <p class="lead mb-0">Situé à Montastruc La Conseillér</p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials-->
@*<section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Avis</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="assets/img/pauline.jpg" alt="..." />
                        <h5>Pauline L.</h5>
                        <p class="font-weight-light mb-0">"Julie fait de sublime nail art motif serpents"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="assets/img/louna.jpg" alt="..." />
                        <h5>Louna L.</h5>
                        <p class="font-weight-light mb-0">"Ma maman est toujours sublime en revenant de son rdv avec Julie !"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="assets/img/olivier.jpg" alt="..." />
                        <h5>Olivier H.</h5>
                        <p class="font-weight-light mb-0">"Ma femme est encore plus fraiche grace à Julie !"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@*MES REALISATIONS*@
<section id="realisations" class="appear realisations">
    <partial name="Realisations" />
</section>


@*MES PRESTATIONS*@
<section id="prestations" class="appear prestations">
    <partial name="Prestations" />
</section>

@*FORMULAIRE DE CONTACT*@
<section id="contact" class="appear">
    <partial name="contact" />
</section>


<script async src="//www.instagram.com/embed.js"></script>
