@{
    ViewData["Title"] = "EJ Nails";
}
@model HomeViewModel;

<partial name="_logo" />

<section class="profil">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-6 align-items-center text-center">
                <img class="photo" src="assets/img/Juliee.jpg" />
            </div>
            <div class="col-lg-6 my-auto showcase-text align-items-center">
                <div>
                    <h2 class="title-accueil">Julie</h2>
                    <p class="lead mb-0">Prothésiste ongulaire at the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Image Showcases-->
<section id="accueil" class="showcase">
    @*<div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white taille showcase-img" style="background-image: url('assets/img/@Model.ProfilPicture')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <div class="diamond-text">
                    <img class="diamond" src="assets/img/diamond.png" />
                    <h2 class="title-accueil">   Julie P</h2>
                </div>
                <p class="lead mb-0">Prothésiste ongulaire at the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
        </div>*@
        <div class="appear salon row g-0">
            <div class="col-lg-6 order-lg-2 text-white taille showcase-img" style="background-image: url('assets/img/salon.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <div class="diamond-text">
                    <img class="diamond" src="assets/img/diamond.png" />
                    <h2 class="title-accueil">   Le salon</h2>
                </div>
                <p class="lead mb-0">Situé à Montastruc La Conseillére</p>
            </div>
        </div>
    </div>
</section>

@*MES REALISATIONS*@
<section id="realisations" class="appear realisations">
    <partial name="Realisations" />
</section>


@*MES PRESTATIONS*@
<section id="prestations" class="appear prestations">
    <partial name="Prestations" />
</section>

@*FORMULAIRE DE CONTACT*@
<section id="contact" class="appear">
    <partial name="contact" />
</section>


<script async src="//www.instagram.com/embed.js"></script>
