@{
    ViewData["Title"] = "Prestations - EJ Nails";
}

@model IEnumerable<PrestationViewModel>


<h1 class="title-section text-center">Mes prestations</h1>

<div class="container-fluid padding-presta">
    <table class="table table-borderless" style="background-color:transparent;">

        @foreach (var prestationsGroup in Model.GroupBy(p => p.Category.Name))
        {
                <thead>
                    <tr>
                        <th class="title-presta text-uppercase" scope="col">@prestationsGroup.Key</th>
                    </tr>
                </thead>
                @foreach (var presta in prestationsGroup)
                {

                <tbody>
                    <tr>
                        <td>@presta.Name</td>
                        <td class="padding-td">@presta.Price €</td>
                    </tr>

                </tbody>
                    }
        }
    </table>
</div>

