@{
    ViewData["Title"] = "Prestations - EJ Nails";
}
<h1 class="title-page text-center">Mes prestations</h1>

<div class="container padding-presta">
    <table class="table table-borderless" style="background-color:white;">
        <thead>
            <tr>
                <th class="title-presta text-uppercase" scope="col">Gel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Premiére pose avec allongement capsules</td>
                <td>50€</td>
            </tr>
            <tr>
                <td>Premiére pose sur ongles naturels</td>
                <td>45€</td>
            </tr>
            <tr>
                <td>Remplissage extérieur</td>
                <td>+5€</td>
            </tr>
            <tr>
                <td>Remplissage + 4 semaines</td>
                <td>+5€</td>
            </tr>
            <tr>
                <td>Ongle cassé en remplissage</td>
                <td>+5€</td>
            </tr>
            <tr>
                <td>Dépose</td>
                <td>15€</td>
            </tr>
            <tr>
                <th class="title-presta text-uppercase" scope="col">Semi permanent</th>
            </tr>
            <tr>
                <td>Premiére pose</td>
                <td>30€</td>
            </tr>
            <tr>
                <td>Remplissage / Retouche</td>
                <td>30€</td>
            </tr>
            <tr>
                <td>Remplissage avec gainage</td>
                <td>30€</td>
            </tr>
            <tr>
                <td>Ongle cassé en remplissage</td>
                <td>+1€</td>
            </tr>
            <tr>
                <td>Dépose</td>
                <td>15€</td>
            </tr>
            <tr>
                <th class="title-presta text-uppercase" scope="col">Décoration</th>
            </tr>
            <tr>
                <td>French</td>
                <td>+5€</td>
            </tr>
            <tr>
                <td>Baby color</td>
                <td>+5€</td>
            </tr>
            <tr>
                <td>Effet marbré</td>
                <td>+1€ / doigt</td>
            </tr>
            <tr>
                <td>Foll / Paillettes</td>
                <td>+1€ / doigt</td>
            </tr>
            <tr>
                <td>Nail art simple</td>
                <td>+2€/ doigt</td>
            </tr>
            <tr>
                <td>Strass</td>
                <td>+1€/ doigt</td>
            </tr>
            <tr>
                <td>Incrustation</td>
                <td>+1€/ doigt</td>
            </tr>
            <tr>
                <td>Baby boomer</td>
                <td>+5€</td>
            </tr>
        </tbody>
        @*<thead>
                <tr>
                    <th class="title-page text-uppercase" scope="col">Semi permanent</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Premiére pose</td>
                    <td>30€</td>
                </tr>
                <tr>
                    <td>Remplissage / Retouche</td>
                    <td>30€</td>
                </tr>
                <tr>
                    <td>Remplissage avec gainage</td>
                    <td>30€</td>
                </tr>
                <tr>
                    <td>Ongle cassé en remplissage</td>
                    <td>+1€</td>
                </tr>
                <tr>
                    <td>Dépose</td>
                    <td>15€</td>
                </tr>*@
        @*</tbody>
            <thead>*@
        @*<tr>
                    <th class="title-page text-uppercase" scope="col">Décoration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>French</td>
                    <td>+5€</td>
                </tr>
                <tr>
                    <td>Baby color</td>
                    <td>+5€</td>
                </tr>
                <tr>
                    <td>Effet marbré</td>
                    <td>+1€ / doigt</td>
                </tr>
                <tr>
                    <td>Foll / Paillettes</td>
                    <td>+1€ / doigt</td>
                </tr>
                <tr>
                    <td>Nail art simple</td>
                    <td>+2€/ doigt</td>
                </tr>
                <tr>
                    <td>Strass</td>
                    <td>+1€/ doigt</td>
                </tr>
                <tr>
                    <td>Incrustation</td>
                    <td>+1€/ doigt</td>
                </tr>
                <tr>
                    <td>Baby boomer</td>
                    <td>+5€</td>
                </tr>
            </tbody>*@
    </table>
</div>

