/* TYPOGRAPHIES */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@font-face {
    font-family: "Latolight";
    src: url("../font/Lato-Light.ttf");
}
@font-face {
    font-family: "NothingYouCouldDo";
    src: url("../font/NothingYouCouldDo.ttf");
}
@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("../font/Montserrat-ExtraLight.ttf");
}


body {
    font-family: "Montserrat-ExtraLight";
}

.salon {
    background-image: url('../assets/img/banniere.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 18% !important;
}

 /* PAGE ACCUEIL*/
    .title-section {
  padding-bottom: 3%;
  margin-top: 3%;
    background-size: 50% auto;
    color: black;
}

/* Logo */
.appear {
    opacity: 0;
    position: relative;
    top: 100px;
}
.fond-logo {
    position: relative;
    background: url("../img/degrade2.png") no-repeat center center;
    /*    width: 546px;
    height: 397px;*/
    margin-top: 3%;
    padding-top: 6rem;
    padding-bottom: 5rem;
    /*    background-color: #ffe4e1;*/
}

.logo {
    font-family: 'Cinzel', serif;
    font-size: 3.5rem;
}

.sous_logo {
    font-size: 20px;
    font-family: 'Cinzel';
    color: grey;
}
.diamond {
    width: 60px;
    height: 30px;
}

.cadre {
    margin-right: 20%;
    margin-left: 20%;
/*    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.8);*/
    color: white;

}

/* Menu */
.menu {
    z-index: 100;
    left: 0;
    background-color: transparent;
    right: 0;
    font-family: "Latolight";
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-weight: bold;
}

/* Section 1 */
.profil {
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #efd3cf;
}

.photo {
max-height: 400px;

}

.padding-right {
    padding-right:2%;
}

.taille {
    min-height: 48rem !important;
}
/* PAGE MES PRESTATIONS */

.prestations {
    background-color: #efd3cf;
    padding: 3%;
}
.roses {
    width: 50px;
    height: 50px;
}

.title-presta {
    padding-top: 10%;
    padding-bottom: 3%;

}

.padding-presta {
    padding-right: 22%;
    padding-left: 22%;
    padding-top: 2%;
}

/* PAGE MES REALISATIONS*/

.realisations {
    padding-bottom: 2%;
}
/*PAGE CONTACT*/

.contact {
    background-color: white;
    padding-right: 17%;
    padding-left: 17%;
    padding-bottom: 3%;
}
.btn-contact
{
    margin-top:3%;
}
.textarea {
    min-height: calc(1.5em + 9.5rem + 2px) !important;
}
/* FOOTER */
.titre-footer {
    font-weight: bold;
    text-transform: uppercase;
}
footer {
    background-color: #efd3cf;
    padding-bottom: 2%;
}
