/* TYPOGRAPHIES */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@font-face {
    font-family: "Latolight";
    src: url("../font/Lato-Light.ttf");
}
@font-face {
    font-family: "NothingYouCouldDo";
    src: url("../font/NothingYouCouldDo.ttf");
}
@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("../font/Montserrat-ExtraLight.ttf");
}


body {
    font-family: "Montserrat-ExtraLight";
}
/* PAGE ACCUEIL*/
.title-page {
/*    padding-top: 3%;
*/    padding-bottom: 3%;
      margin-top: 3%;
    background-size: 50% auto;
/*    text-shadow: 0px 0px 19px rgba(255, 99, 185, 1);
*/    color: black;
    /*    text-shadow: 1px 0px 3px rgba(0,0,0,0.69)*/
}

/* Logo */
.appear {
    opacity: 0;
    position: relative;
    top: 100px;
}
.fond-logo {
    position: relative;
    background: url("../img/degrade2.png") no-repeat center center;
    /*    width: 546px;
    height: 397px;*/
    margin-top: 3%;
    padding-top: 6rem;
    padding-bottom: 5rem;
    /*    background-color: #ffe4e1;*/
}

.cadre {
    margin-right: 20%;
    margin-left: 20%;
/*    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.8);*/
    color: white;

}
.logo {
    font-family: 'Cinzel', serif;
    text-shadow: 0px 3px 8px rgba(255, 99, 185, 1);
    font-size: 3.5rem;
}

.sous_logo {
    font-size: 20px;
    font-family: 'Cinzel';
    color: grey;
}

/* Menu */
.menu {
    z-index: 100;
    left: 0;
    background-color: transparent;
    right: 0;
    font-family: "Latolight";
    text-transform: uppercase;
    letter-spacing: 0.07em;
font-weight: bold;
}
.navbar-hide {
    transform: translate(0, -57px);
}
#navbar {
    transition: transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
    backdrop-filter: blur(20px);
    /*    -webkit-backdrop-filter:blur(10px);*/
    background-color: white;
    height: 57px;
    font-size:1.25rem;
}
.navbar-big {
    height: 80px !important;
}
/* Sections */
/*.title-accueil {
    font-family: 'Cinzel', serif;
}*/

.profil {
    padding-bottom: 5%;
}

.salon {
    background-color: #efd3cf;
}

.diamond {
    width: 30px;
    height: 30px;
}

.diamond-text {
    display: flex;
}

.photo {

max-height: 400px;

}

.taille {
    min-height: 48rem !important;
}
/* PAGE MES PRESTATIONS */

.prestations {
    background-color: #efd3cf;
    padding: 3%;
    font-size: 1.25rem;
}
.roses {
    width: 50px;
    height: 50px;
}

.title-presta {
    padding-top: 10%;
    padding-bottom: 3%;

}

.padding-presta {
    padding-right: 17%;
    padding-left: 17%;
    padding-top: 2%;
}

/* PAGE MES REALISATIONS*/

.realisations {
    padding-bottom: 2%;
}
/*PAGE CONTACT*/

.contact {
    background-color: white;
    padding-right: 17%;
    padding-left: 17%;
    padding-bottom: 3%;
    font-size: 1.25rem;
}
.btn-contact
{
    margin-top:3%;
}
.textarea {
    min-height: calc(1.5em + 9.5rem + 2px) !important;
}
/* FOOTER */
.titre-footer {
    font-weight: bold;
    text-transform: uppercase;
}
footer {
    background-color: #efd3cf;
}