/* TYPOGRAPHIES */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@font-face {
    font-family: "Biancha";
    src: url("../font/Biancha.otf");
}
@font-face {
    font-family: "HelloMarisca";
    src: url("../font/HelloMarisca.otf");
}

@font-face {
    font-family: "font";
    src: url("../font/font.ttf");
}

@font-face {
    font-family: "WhiteAngelica";
    src: url("../font/WhiteAngelica.ttf");
}

@font-face {
    font-family: "Beauty";
    src: url("../font/Beauty.otf");
}

@font-face {
    font-family: "Winterfun";
    src: url("../font/Winterfun.otf");
}

@font-face {
    font-family: "Moon";
    src: url("../font/Moon.otf");
}

@font-face {
    font-family: "Latolight";
    src: url("../font/Lato-Light.ttf");
}

/* PAGE ACCUEIL*/
.title-page {
    font-family: "Cinzel";
    padding-top: 4%;
    padding-bottom: 5%;
    margin-top: 7%;
    background-color: #FFCAEE;
    background: url("../img/degrade.png") no-repeat center center;
    background-size: 50% auto;
    color: white;
    text-shadow: 1px 0px 3px rgba(0,0,0,0.69)
}


/* Logo */
.appear {
    opacity: 0;
    position: relative;
    top: 100px;
}
.fond-logo {
    position: relative;
    background: url("../img/degrade2.png") no-repeat center center;
    /*    width: 546px;
    height: 397px;*/
    margin-top: 3%;
    padding-top: 6rem;
    padding-bottom: 5rem;
    /*    background-color: #ffe4e1;*/
}

.cadre {
    margin-right: 20%;
    margin-left: 20%;
/*    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.8);*/
    color: white;

}
.logo {
    font-family: 'Cinzel', serif;
    text-shadow: 1px 0px 3px rgba(0,0,0,0.69)
}

.sous_logo {
    font-size: 20px;
    font-family: 'WhiteAngelica';
    color: grey;
}

/* Menu */
.menu {
    z-index: 100;
    left: 0;
    background-color: transparent;
    right: 0;
    font-family: "Latolight";
    text-transform: uppercase;
    letter-spacing: 0.07em;
}
.btn-accueil
{
    color: pink;
}
.navbar-hide {
    transform: translate(0, -57px);
}
#navbar {
    transition: transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
    backdrop-filter: blur(20px);
    /*    -webkit-backdrop-filter:blur(10px);*/
    background-color: white;
    height: 57px;
}
.navbar-big {
    height: 80px !important;
}
/* Sections */
.title-accueil {
    font-family: 'Cinzel', serif;
}

.diamond {
    width: 30px;
    height: 30px;
}

.diamond-text {
    display: flex;
}
.taille {
    min-height: 35rem !important;
}
/* PAGE MES PRESTATIONS */

.roses {
    width: 50px;
    height: 50px;
}

.title-presta {
    font-family: "Cinzel";
    padding-top: 10%;
    padding-bottom: 3%;

}

.padding-presta {
    padding-right: 17%;
    padding-left: 17%;
    padding-top: 2%;
    padding-bottom: 4%;
}

/* PAGE MES REALISATIONS*/

.realisation {
    transition: transform .1s;
}
.realisation:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

/*PAGE CONTACT*/

.btn-contact
{
    margin-top:3%;
}
/* FOOTER */
.titre-footer {
    font-weight: bold;
    text-transform: uppercase;
}
footer {
    /*    background-color: #D8B5FF;*/
    background-image: url("../img/cadre.jpg");
}