
<!-- Footer-->
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <p class="titre-footer">Adresse</p>
                <p>Montastruc-la-Conseillère</p>
            </div>
            <div class="col">
                <p class="titre-footer">Contact</p>
                <p>ejnails@hotmail.fr</p>
                <p>06 52 10 93 60</p>
            </div>
            <div class="col">
                <p class="titre-footer">Horaires</p>
                <p>Lundi, Mercredi, Jeudi, Vendredi : 9h - 17H</p>
            </div>
            <div class="col">
                <div class="list-inline mb-0">
                    <p class="titre-footer">Suivez-moi sur Insta</p>
                    <a href="#"><i class="bi-instagram fs-3"></i></a>
                </div>
            </div>
        </div>
        <p class="text-center text-muted small mb-4 mb-lg-0">&copy; EJ NAILS 2021.</p>
    </div>
</footer>