
<!-- Footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="list-inline mb-0">
                    <p class="titre-footer">Suivez-moi</p>
                    <a href="#!"><i class="bi-instagram fs-3"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="list-inline mb-0">
                    <p class="titre-footer">Suivez-moi</p>
                    <a href="#!"><i class="bi-instagram fs-3"></i></a>
                </div>
            </div>
            <div class="col">
                    <p class="titre-footer">Le salon</p>
                    <p>Horaires</p>
                    <p>Lundi : 9h - 17H</p>
                    <p>Mardi : 9h - 17H</p>
                    <p>Mercredi : 9h - 17H</p>
                    <p>Jeudi : 9h - 17H</p>
                    <p>Vendredi : 9h - 17H</p>
            </div>
        </div>
        <p class="text-muted small mb-4 mb-lg-0">&copy; EJ NAILS 2021.</p>
    </div>
</footer>