<!-- Footer-->
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-sm-12">
                <p class="titre-footer">Adresse</p>
                <p>Montastruc-la-Conseillère</p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <p class="titre-footer">Horaires</p>
                <p>Lundi, Mardi, Mercredi, Jeudi, Vendredi</p>
                <p>9h - 17H</p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <p class="titre-footer">Instagram</p>
                <a target="_blank" href="https://www.instagram.com/ej__nails_fr_/"><i class="bi-instagram fs-3"></i></a>
            </div>
        </div>
    </div>
    <p class="copyright text-center text-muted small mb-4 mb-lg-0">&copy; EJ NAILS - @DateTime.Now.Year</p>
</footer>