<header>
    <!-- Navigation-->
    <nav class="menu navbar nav nav-pills flex-column flex-sm-row justify-content-end">
        <a class="nav-link text-dark" href="#accueil">Accueil</a>
        <a class="nav-link text-dark" href="#realisations">Réalisations</a>
        <a class="nav-link text-dark" href="#prestations">Prestations</a>
        <a class="nav-link text-dark" asp-action="RDV">Prendre rendez-vous</a>
        <a class="nav-link text-dark" href="#contact">Contact</a>
    </nav>
</header>

