<div class="fond-logo text-center text-white">
    <div class="cadre">
        <h1 class="logo">EJ NAILS</h1>
        <h3 class="sous_logo">Prothésiste ongulaire</h3>
    </div>
</div>

@*<div class="row">
    <div class="col-6 fond-logo text-center text-white">
        <div class="cadre">
            <h1 class="logo">EJ NAILS</h1>
            <h3 class="sous_logo">Prothésiste ongulaire</h3>
        </div>
    </div>
</div>*@


