
@{
    ViewData["Title"] = "Prendre rendez-vous - EJ Nails";
    Layout = "_Layout";
}


<div class="container">
    <h1>Prendre rendez-vous</h1>
    <h2>2 - Date et heure du rdv</h2>

    <a asp-controller="Appointment" asp-action="Index"><button class="btn btn-primary">Précédent</button></a>


    @using (Html.BeginForm("SearchAppointment", "Appointment", FormMethod.Post))
    {
<div>
    <input type="date" id="date" name="date" onchange="dateAppointment()"
           value="@DateTime.Now">

    <select id="search-slot-result" name="SlotId" class="form-select" aria-label="Default select example">

</div>



    }



</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>

    @*$(function () {
        const inputDateAppointment = document.getElementById('date');
        inputDateAppointment.addEventListener('change', dateAppointment);
    });*@


    function dateAppointment(e) {

        let dateValue = document.getElementById('date').value;

        fetch("SearchAppointment?date=" + dateValue).then(async response => {
            let slots = await response.json();

            console.log(slots);

            slots.forEach(slot => {

                let option = document.createElement("option");

                option.value = slot
                option.innerHTML = new Intl.DateTimeFormat('fr-fr', { timeStyle: 'short' }).format(new Date(slot))

                document.getElementById("search-slot-result").appendChild(option);

            });


        })


    }


</script>