@{
    ViewData["Title"] = "Prendre rendez-vous - EJ Nails";
    Layout = "_Layout";
}

@model List<PrestationViewModel>

<div class="container">
    <h1>Prendre rendez-vous</h1>

    <h2>Avez-vous un compte client ?</h2>

    <a asp-controller="Appointment" asp-action="ValidClient"><button class="btn btn-primary">Suivant</button></a>


</div>